version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      PYTHON_ANALYTICS_URL: "http://analytics:5000"
    depends_on:
      - analytics

  analytics:
    build:
      context: ./analytics_service
      dockerfile: Dockerfile
    ports:
      - "5000:5000"


